<h1>Listing ingredient_types</h1>

<%= link_to 'New Ingredient type', new_ingredient_type_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Family</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredient_types.each do |ingredient_type| %>
      <tr>
        <td><%= link_to ingredient_type.name, ingredient_type %></td>
        <td><%= link_to ingredient_type.ingredient_family.name, ingredient_type.ingredient_family %></td>
        <td><%= link_to 'Destroy', ingredient_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


