<h3><%= link_to cocktail.name, cocktail_path(cocktail.id)%></h3>
<p> Priority: <%= cocktail.priority %> | Rating: <%= cocktail.rating %> </p>
<ul>
<% cocktail.ingredients_to_cocktails.each do |i| %>
	<li> <%= link_to i.show, ingredient_path(i.ingredient_id) %></li>
<% end %>
</ul>