<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cocktail_source.name %>
</p>

<%= link_to 'Edit', edit_cocktail_source_path(@cocktail_source) %> |
<%= link_to 'Back', cocktail_sources_path %>
