<p>
  <h3> Modifications (<%= filtered_modifications.count %>)</h3>
  <p><span class="muted">Click <i class="icon-filter"></i> to filter <span></p>
    <ul>
      <% filtered_modifications.sort{|a,b| a.name <=> b.name}.each do |m| %>
        <li> 
          <%= link_to m.name, ingredient_modification_path(m.id) %> 
          <% unless no_modification_filter %>
          <i class="icon-filter" onclick="cocktailFilter('modification_filter',<%=m.id%>)"></i>
           <!--  <a onclick="cocktailFilter('modification_filter',<%=m.id%>)"> -filter-</a> -->
          <% end %> 
        </li>
      <% end %>
    </ul>
</p>