<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingredient_modification.name %>
</p>

<%= link_to 'Edit', edit_ingredient_modification_path(@ingredient_modification) %> |
<%= link_to 'Back', ingredient_modifications_path %>
