<p>
  <h1> Shared Families:</h1>
    <ul>
      <% filtered_ingredient_families.each do |i| %>
        <li>  
          <%= link_to i.name, ingredient_family_path(i.id) %> 
          <% unless no_ingredient_family_filter %>
            <a onclick="cocktailFilter('ingredient_family_filter',<%=i.id%>)"> -filter-</a>
          <% end %> 
        </li>
      <% end %>
    </ul>
</p>