/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require dataTables/bootstrap/2/jquery.dataTables.bootstrap
 *= require bootstrap-datepicker
 *= require chosen
 *= require bootstrap_and_overrides
 */

.caret-right {
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: 6px solid;
    display: inline-block;
    height: 0;
    vertical-align: baseline;
    width: 0;
	color: #34495e;
	margin-right: 2px;
	margin-top: 4px;
}
.caret-down {
    border-right: 6px solid transparent;
    border-top: 6px solid ;
    border-left: 6px solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: baseline;
    width: 0;
	color: #34495e;
	margin-right: 2px;
	margin-top: 5px;
}